h1 {
  color: red;
  font-size: 55px;
}

.App {
  text-align: center;
}

.header {
  margin-top: 0px;
  /* background: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/rbGMAGytlGjahhgrii/videoblocks-abstract-geometrical-background-with-moving-lines-and-dots-looping-cg-animation-4k-suitable-for-cryptocurrency-financial-social-background_sqd9ffwig_thumbnail-full01.png"); */
  height: 200px;
}

.body-container {
  display: flex;
}

.left {
  width: 50%;
  text-align: center;
}

.scroll {
  overflow: scroll;
  height: 200px;
}

.right {
  width: 50%;
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
